@model WaverleyKls.Enrolment.ViewModels.PaymentViewModel
@{
    ViewData["Title"] = "Admin Page";
}

@section scripts
{
    <script>
        "use strict";

        (function($) {
            $("#YearLevel").change(function () {
                var yearLevel = $(this).val();
                var includePaid = $("input:radio[name='includePaid']:checked").val();

                location.href = "/admin?yearLevel=" + yearLevel + "&includePaid=" + includePaid;
            });

            $("input:radio[name='includePaid']").click(function () {
                var yearLevel = $("#YearLevel").val();
                var includePaid = $(this).val();

                location.href = "/admin?yearLevel=" + yearLevel + "&includePaid=" + includePaid;
            });

            $(".payment").click(function () {
                var paymentId = $(this).data("paymentId");
                var paid = $(this).is(":checked");

                $.ajax("/admin/payments/" + paymentId,
                {
                    "method": "PATCH",
                    "contentType": "application/json",
                    "data": JSON.stringify({ "paid": paid }),
                    "dataType": "json"
                }).done(function(data) {
                    alert("Payment status updated to " + (data.paid ? "PAID" : "NOT PAID"));
                });
            });
        })(jQuery);
    </script>
}

<div class="row">
    <h2>Enrolement Status</h2>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                <div class="form-group">
                    <select class="form-control admin-year-level" asp-for="YearLevel" asp-items="@Model.YearLevels"></select> |

                    <label>
                        <input type="radio" name="includePaid" value="false" @(Model.IncludePaid ? string.Empty : "checked=\"checked\"")/> Unpaid Only
                    </label>
                    <label>
                        <input type="radio" name="includePaid" value="true" @(Model.IncludePaid ? "checked=\"checked\"" : string.Empty)/> Include Paid
                    </label> |

                    <a class="btn btn-info" asp-controller="Admin" asp-action="Index">Reset</a>
                    <a class="btn btn-success" asp-controller="Admin" asp-action="GetDownloadEnrolmentDetailsForm">Download</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Student Name</th>
                            <th>Year</th>
                            <th>Parent/Guardian Name</th>
                            <th>Parent/Guardian Phone</th>
                            <th>Parent/Guardian Email</th>
                            <th>Amount</th>
                            <th>Reference Number</th>
                            <th>Date Enrolled</th>
                            <th>Paid?</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var payment in Model.Payments)
                        {
                            <tr>
                                <td>@payment.StudentName</td>
                                <td>@payment.YearLevel</td>
                                <td>@payment.GuardianName</td>
                                <td>@payment.GuardianPhone</td>
                                <td>@payment.GuardianEmail</td>
                                <td>$@($"{payment.Amount:F2}")</td>
                                <td>@payment.ReferenceNumber</td>
                                <td>@payment.DateEnrolled.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <input type="checkbox" class="payment" data-payment-id="@payment.PaymentId" @(payment.IsPaid ? "checked=\"checked\"" : string.Empty) />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

