@model WaverleyKls.Enrolment.ViewModels.PaymentViewModel
@{
    ViewData["Title"] = "Admin Page";
}

@section scripts
{
    <script>
        "use strict";

        (function($) {
            $(".payment").click(function() {
                var paymentId = $(this).data("paymentId");
                var paid = $(this).is(":checked");

                $.ajax("/admin/payments/" + paymentId,
                {
                    "method": "PATCH",
                    "contentType": "application/json",
                    "data": JSON.stringify({ "paid": paid }),
                    "dataType": "json"
                }).done(function (data) {
                    alert("Payment status updated to " + (data.paid ? "PAID" : "NOT PAID"));
                });
            });
        })(jQuery);
    </script>
}

<div class="row">
    <h2>Enrolement Status</h2>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                <a class="btn btn-info" asp-controller="Admin" asp-action="Index">Unpaid Only</a>
                <a class="btn btn-primary" asp-controller="Admin" asp-action="Index" asp-route-showAll="true">Show All</a>
            </div>
        </div>
        
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Student Name</th>
                            <th>Parent/Guardian Name</th>
                            <th>Parent/Guardian Phone</th>
                            <th>Parent/Guardian Email</th>
                            <th>Amount</th>
                            <th>Reference Number</th>
                            <th>Paid?</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var payment in Model.Payments)
                        {
                            <tr>
                                <td>@payment.StudentName</td>
                                <td>@payment.GuardianName</td>
                                <td>@payment.GuardianPhone</td>
                                <td>@payment.GuardianEmail</td>
                                <td>$@($"{payment.Amount:F2}")</td>
                                <td>@payment.ReferenceNumber</td>
                                <td>
                                    <input type="checkbox" class="payment" data-payment-id="@payment.PaymentId" @(payment.IsPaid ? "checked=\"checked\"" : string.Empty) />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

