@model WaverleyKls.Enrolment.ViewModels.StudentDetailsViewModel
@{
    ViewData["Title"] = "Student Details";
}

<div class="row">
    <h2>Student Details</h2>

    <form class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-horizontal" asp-controller="Home" asp-action="SetStudentDetails" method="post">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <input class="form-control" asp-for="FirstName" />
                </div>
                <div class="form-group">
                    <input class="form-control" asp-for="MiddleNames" />
                </div>
                <div class="form-group">
                    <input class="form-control" asp-for="LastName" />
                </div>
                <div class="form-group">
                    <label class="control-label control-label-placeholder">Date of Birth</label>
                    <select class="form-control dob" asp-for="Date" asp-items="@Model.Dates"></select>
                    <select class="form-control dob" asp-for="Month" asp-items="@Model.Months"></select>
                    <select class="form-control dob" asp-for="Year" asp-items="@Model.Years"></select>
                </div>
                <div class="form-group">
                    <label class="control-label control-label-placeholder" asp-for="Genders"></label>
                    @foreach (var item in Model.Genders)
                    {
                        <label class="control-label-normal">
                            <input asp-for="Gender" type="radio" value="@item.Value" /> @item.Text
                        </label>
                    }
                </div>
                <div class="form-group">
                    <input class="form-control" asp-for="SchoolName" />
                </div>
                <div class="form-group">
                    <select class="form-control" asp-for="YearLevel" asp-items="@Model.YearLevels"></select>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <input class="form-control" asp-for="Address1" />
                </div>
                <div class="form-group">
                    <input class="form-control" asp-for="Address2" />
                </div>
                <div class="form-group">
                    <input class="form-control" asp-for="Suburb" />
                </div>
                <div class="form-group">
                    <select class="form-control" asp-for="State" asp-items="@Model.States"></select>
                </div>
                <div class="form-group">
                    <input class="form-control" asp-for="Postcode" />
                </div>
                <div class="form-group">
                    <label class="control-label control-label-placeholder" asp-for="FeeSchemes"></label>
                    <div style="display: inline-block;">
                        @foreach (var item in Model.FeeSchemes)
                        {
                            <label class="control-label-normal">
                                <input asp-for="IsDomestic" type="radio" value="@item.Value" /> @item.Text
                            </label><br />
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group text-center">
            <a class="btn btn-warning" asp-controller="Home" asp-action="ClearEnrolmentForm">Start Over</a>
            <button type="submit" class="btn btn-primary">Next &gt;&gt;</button>
        </div>
    </form>
</div>